#objective {
    min-height: 100vh;
    padding: 6.4rem 3.2rem;
    background: linear-gradient(180deg, #8AC7D9, #FFF);
    background-attachment: fixed;
    border-block: 1.6rem solid var(--bootstrap-primary);
    color: var(--primary);
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;
    justify-items: center;
    gap: 4.8rem;

    h2 {
        margin-bottom: 2.4rem;
    }

    img {
        width: 100%;
    }
}


@media screen and (max-width: 992px) {
    #objective {
        grid-template-columns: 1fr;

        img {
            max-width: 28rem;
        }
    }
}