.container {
    max-width: 144rem;
    margin-inline: auto;
}

.btn-primary, .btn-success, .btn-purple {
    color: white;
    cursor: pointer;
    padding: 1.6rem 3.2rem;
    border-radius: 3.2rem;
    text-transform: uppercase;
}

.btn-success {
    background-color: var(--dark-green);
}

.btn-purple {
    background-color: var(--purple);
}

.btn-primary {
    background-color: var(--primary);
}

.input-container {
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
    position: relative;
}

.input-field {
    width: 100%;
    border: none;
    outline: none;
    background: none;
    color: var(--primary);
    border-bottom: .3rem solid var(--primary);
    padding: 0;
    padding-bottom: .8rem;
}

.input-label-container {
    display: flex;
    gap: 1.6rem;
    align-items: center;
    position: absolute;
    pointer-events: none;
    transition: transform .3s;
}

.input-container:has(:valid), .input-container:has(:focus) {
    .input-label-container {
        transform: translateY(-120%);
        font-size: 1.4rem;

        .input-icon {
            height: 1.4rem;
        }
    }
}