#contact {
    min-height: 100vh;
    padding: 6.4rem 3.2rem;
    
    background: linear-gradient(to bottom, #04364A, #0A80B0);
    background-attachment: fixed;
    border-radius: 0px 0px 64px 64px;

    .container {
        display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min(100%, 40rem), 1fr));
    align-items: center;
    gap: 3.2rem;
    }

    #contact-content {
        display: flex;
        flex-direction: column;
        align-items: center;

        h2 {
            margin-block: 4rem;
            text-align: center;
            video {
                height: 3.6rem;
                vertical-align: text-top;
            }
        }
    
        p {
            padding: 1.6rem;
            border: solid #ff6978 .4rem;
            border-radius: 3.2rem;
            color: #ff6978;
            text-align: center;
        }

        #contact-icon {
            max-width: 16rem;
        }
    }
    
    form {
        color: var(--primary);
        background-color: white;
        padding: 3.2rem;
        border-radius: 3.2rem;

        display: flex;
        flex-direction: column;
        gap: 4.8rem;
    }
}

@media screen and (max-width: 992px) {
    #contact {
        padding-inline: 1.6rem;
    }
}